<div class="container py-5">
  <div class="row">
    <div class="row">
      <h3><span class="bg-light">配送先登録/一覧</span></h3>
    </div>
    </div>
      <%= form_for(@address_new) do |f| %>
        <div class="d-flex align-items-end">
          <div class="col-md-10">
            <div class="row">
          　　 <div class="col-md-3">
          　　   <p>郵便番号<span style="font-size :13px;">(ハイフンなし)</span></p>
              </div>
            　<div class="col-md-4">
            　  <%= f.text_field :post_code, class: "form-control", placeholder: "郵便番号" %>
            　</div>
            </div>

            <div class="row">
          　　 <div class="col-md-3">
                <p>住所</p>
              </div>
            　<div class="col-md-7">
                <%= f.text_field :address, class: "form-control", placeholder: "住所" %>
            　</div>
            </div>

            <div class="row">
          　　 <div class="col-md-3">
                <p>宛名</p>
              </div>
            　<div class="col-md-4">
                <%= f.text_field :name, class: "form-control", placeholder: "宛名" %>
            　</div>
            </div>
          </div>
          <div class="col-md-1 clearfix">
            <%= f.submit "登録する", class: "btn btn-success float-right mb-3" %>
          </div>
      <% end %>
    </div>

    <div class="row col-10">
    <table class="table table-bordered table-hover">
      <thead>
       <tr class="table-active">
         <th>郵便番号</th>
         <th>住所</th>
         <th>宛名</th>
         <th></th>
       <tr>
      </thead>

      <tbody>
        <% @addresses.each do |address| %>
          <tr>
            <td><%= address.post_code %></td>
            <td><%= address.address %></td>
            <td><%= address.name %></td>
            <td class="text-center"><%= link_to "編集する", edit_address_path(address),  class: "btn btn-primary " %>
                <%= link_to "削除する", address_path(address), method: :delete ,data: { confirm: 'Are you sure?' }, class: "btn btn-danger" %>
            </td>
           </tr>
        <% end %>
      </tbody>
    </table>
  </tr>
</tr>
</thead>
</table>
</div>


   </div>
</div>

