<div class="container">
  <h3 class="row"><span class="bg-info">新規会員登録画面</span></h3>

  <%= form_for(resource, as: resource_name, url: customers_registration_path, html: { class: "form-horizontal ", novalidate: "novalidate" }) do |f| %>

    <%= render "customers/shared/error_messages", resource: resource %>
    <%= render "customers/customer_form_item",f:f %>

    <div class="form-group">
      <%= f.label "パスワード", class: "col-xs-2 control-label" %>
      <div class="col-xs-3">
        <%= f.password_field :password, autocomplete: "new-password", class:"form-control", placeholder: "パスワード（6文字以上）" %>
      </div>
    </div>

    <div class="form-group">
      <%= f.label "パスワード（確認）", class: "col-xs-2 control-label" %>
      <div class="col-xs-3">
        <%= f.password_field :password_confirmation, class:"form-control", autocomplete: "new-password", placeholder:  "パスワードの確認" %>
      </div>
    </div>

    <div class="form-group">
      <div class="col-xs-offset-3 col-xs-2">
        <%= f.submit "新規登録", class:"btn btn-success btn-block" %>
      </div>
    </div>

    <div class="row">
    <h3 ><span class="bg-info">既に登録済みの方</span></h3>
        <div class="col-xs-11 col-xs-offset-1">
          <p><%= link_to(new_customer_session_path) do %>こちら<% end %> からログインしてください。</p>
        </div>
    </div>
  <% end %>
</div>