<div class="container">

	<div class="row">
		<div class="col mt-3">

<h2><%= @full_name %>さんの会員情報編集</h2>
	<%= form_for @customer, url: admins_customer_path(@customer.id), method: :patch do |f| %>
	<table class="table table-borderless">
		<tbody>
			<tr>
				<th>顧客ID</th>
				<th><%= @customer.id %></th>

			</tr>
			<tr>
				<th>氏名</th>
				<th><%= f.text_field :family_name, class: "rounded" %></th>
				<th><%= f.text_field :first_name, class: "rounded" %></th>
			</tr>
			<tr>
				<th>フリガナ</th>
				<th><%= f.text_field :family_name_kana, class: "rounded" %></th>
				<th><%= f.text_field :first_name_kana, class: "rounded" %></th>
			</tr>
			<tr>
				<th>郵便番号</th>
				<th><%= f.text_field :postel_code, class: "rounded" %></th>
			</tr>
			<tr>
				<th>住所</th>
				<th><%= f.text_field :address, class: "rounded" %></th>
			</tr>
			<tr>
				<th>電話番号</th>
				<th><%= f.text_field :telephone_number, class: "rounded" %></th>
			</tr>
			<tr>
				<th>メールアドレス</th>
				<th><%= f.text_field :email, class: "rounded" %></th>
			</tr>
			<tr>
				<th><%= f.label :name, '会員ステータス' %></th>
				<th><%= f.radio_button :is_deleted, :false %>
				  	<%= f.label :is_deleted, "有効", value: :false %>
				  	<%= f.radio_button :is_deleted, :true %>
				  	<%= f.label :is_deleted, "退会済み", value: :true %></th>
			</tr>
			<tr>
				<th><%= f.submit "変更を保存する", class: "btn btn-danger" %></th>
			</tr>
		</tbody>
	</table>
	<% end %>

</div>
</div>
</div>
