<div class = "container">

	<div class = "row my-5">
		<div class = "offset-md-1">

<h3><span class = "px-4 bg-light"><%= @full_name %>さんの会員情報編集</span></h3>

		</div>
	</div>

	<%= form_for @customer, url: admins_customer_path(@customer.id), method: :patch do |f| %>
	<div class="row">
	<table class="table table-borderless">
		<tbody>
			<tr>
				<th scope="col">顧客ID</th>
				<td><%= @customer.id %></td>
			</tr>
			<tr>
				<th scope="col">氏名</th>
				<td><%= f.text_field :family_name, class: "rounded" %></td>
				<td><%= f.text_field :first_name, class: "rounded" %></td>
			</tr>
			<tr>
				<th scope="col">フリガナ</th>
				<td><%= f.text_field :family_name_kana, class: "rounded" %></td>
				<td><%= f.text_field :first_name_kana, class: "rounded" %></td>
			</tr>
			<tr>
				<th scope="col">郵便番号</th>
				<td><%= f.text_field :postel_code, class: "rounded" %></td>
			</tr>
			<tr>
				<th scope="col">住所</th>
				<td><%= f.text_field :address, class: "rounded" %></td>
			</tr>
			<tr>
				<th scope="col">電話番号</th>
				<td><%= f.text_field :telephone_number, class: "rounded" %></td>
			</tr>
			<tr>
				<th scope="col">メールアドレス</th>
				<td><%= f.text_field :email, class: "rounded" %></td>
			</tr>
			<tr>
				<th scope="col"><%= f.label :name, '会員ステータス' %></th>
				<td><%= f.radio_button :is_deleted, :false %>
				  	<%= f.label :is_deleted, "有効", value: :false %>
				  	<%= f.radio_button :is_deleted, :true %>
				  	<%= f.label :is_deleted, "退会済み", value: :true %></td>
			</tr>
			<tr>
				<th><%= f.submit "変更を保存する", class: "btn btn-danger" %></th>
			</tr>
		</tbody>
	</table>
	</div>
	<% end %>

</div>
