<div class = "container">

	<div class = "row my-5">
		<div class = "offset-md-1">
			<h3><span class = "px-4 bg-light">商品一覧</span></h3>
		</div>
	</div>

	<div class = "col-md-11 clearfix">
		<%= link_to new_admins_item_path do %>
			<button class = "float-right btn btn-info rounded-circle">+</button>
		<% end %>
	</div>

	<div class = "row">
		<div class = "col-md-11">
			<table class = "table table-hover">
				<thead class = "thead-light">
					<tr>
						<th>商品ID</th>
						<th>商品名</th>
						<th>税抜価格</th>
						<th>ジャンル</th>
						<th>ステータス</th>
					</tr>
				</thead>
				<% @items.each do |item| %>
					<tbody>
						<tr>
							<td>
								<%= item.id %>
							</td>
							<td>
								<%= link_to item.name, admins_item_path(item.id) %>
							</td>
							<td>
								<%= item.price %>
							</td>
							<td>
								<%= item.genre.name %>
							</td>
							<td>
								<% if item.is_active == true %>
									販売中
								<% elsif item.is_active == false %>
									売切れ
								<% end %>
							</td>
						</tr>
					</tbody>
				<% end %>
			</table>
		</div>
	</div>

</div>
