<div class = "row">

	<div class = "col-md-11">

		<section class = "items-index">

			<h3 class = "items-index-headline">商品一覧</h3>

			<%= link_to new_admins_item_path do %>

				<button class = "btn btn-default" style = "float:right;">+</button>

			<% end %>

			<table style = "width:100%;">

				<thead>

					<tr style = "border-top:2px solid black;border-bottom:2px solid black;">

						<th style = "width:10%;padding:10px;font-size:18px;background-color:#eee;">商品ID</th>
						<th style = "width:30%;padding:10px;font-size:18px;background-color:#eee;">商品名</th>
						<th style = "width:10%;padding:10px;font-size:18px;background-color:#eee;">税抜価格</th>
						<th style = "width:30%;padding:10px;font-size:18px;background-color:#eee;">ジャンル</th>
						<th style = "width:10%;padding:10px;font-size:18px;background-color:#eee;">ステータス</th>

					</tr>

				</thead>

				<% @items.each do |item| %>

					<tbody>

						<tr>

							<td style = "width:10%;padding:10px;font-size:18px;border-bottom:2px solid black;
										line-height:50px;">

								<%= item.id %>

							</td>

							<td style = "width:30%;padding:10px;font-size:18px;border-bottom:2px solid black;
										line-height:50px;">

								<%= item.name %>

							</td>

							<td style = "width:10%;padding:10px;font-size:18px;border-bottom:2px solid black;
										line-height:50px;">

								<%= item.price %>

							</td>

							<td style = "width:30%;padding:10px;font-size:18px;border-bottom:2px solid black;
										line-height:50px;">

								<%= item.genre.name %>

							</td>

							<td style = "width:10%;padding:10px;font-size:18px;border-bottom:2px solid black;
										line-height:50px;">

								<% if item.is_active == true %>
									販売中
								<% elsif item.is_active == false %>
									売切れ
								<% end %>

							</td>

						</tr>

					</tbody>

				<% end %>

			</table>

			<%= paginate @items %>

		</section>

	</div>

</div>

