<div class="container">
  <div class="row">
    <%= render "layouts/genre_search", genres: @genres %>


    <div class="col-md-9">
      <% if params[:genre_id] %>
      <h3><%= @genre.name %>一覧</h3>


      <% else %>
      <h3>商品一覧</h3>
      <% end %>
      <strong>(全<%= @items.count %>件)</strong>


      <div class="flex">
        <% @items.each do |item| %>
        <%= link_to item_path(item.id), :style=>"color: black; text-decoration: none;" do%>

        <div class="">
          <%= attachment_image_tag item, :image, format: 'jpeg', size: "100x100" %>
        </div>

        <div class="">
          <%= item.name %>
        </div>

        <div class="">
          ¥<%= item.price %>
        </div>
        <% end %>
        <% end %>
</div>

    </div>
  </div>
</div>

<style>
  .flex {
    display: flex;
    justify-content:space-around;
  }
</style>