<div class="container">
  <div class="row">
    <div class="col-xs-8 col-xs-offset-2">
        <h3><span class="bg-info">会員の方はこちらからログイン</span></h3>
         <%= form_for(resource, as: resource_name, url: session_path(resource_name), html:{class:"form-horizontal"}) do |f| %>
            <%= render "customers/shared/error_messages", resource: resource %>
            <div class="row form-group">
              <%= f.label :email, "メールアドレス", class:"col-sm-12 col-md-2 col-md-offset-2 control-label" %>
              <div class="col-sm-12 col-md-8"><%= f.email_field :email, autofocus: true, autocomplete: "email", class:"form-control" %>
              </div>
            </div>

            <div class="row form-group">
              <%= f.label :password, "パスワード", class:"col-sm-12 col-md-3 col-md-offset-1 control-label " %>
              <div class="col-sm-12 col-md-8"><%= f.password_field :password, autocomplete: "current-password", class:"form-control" %>
              </div>
            </div>
            <p class="text-right"><%= render "customers/shared/links" %></p>
            <div class="row form-group">
              <div class="col-xs-9 col-xs-offset-4"><%= f.submit "ログイン", class:"btn btn-primary" %>
              </div>
            </div>
          <% end %>

        <h3>登録がお済みでない方</h3>
        <div class="col-xs-11 col-xs-offset-1">
          <p><%= link_to(new_customer_registration_path) do %>こちら<% end %> から新規登録を行ってください。</p>
        </div>
    </div>
  </div>
</div>