<div class="container ">
  <div class="row">
    <div class="mx-auto" style="width: 900px;">
        <h3><span class="bg-light">会員の方はこちらからログイン</span></h3>
         <%= form_for(resource, as: resource_name, url: customer_session_path) do |f| %>
            <%= render "customers/shared/error_messages", resource: resource %>
            <div class="row form-group">
              <%= f.label :email, "メールアドレス", class:"col-md-2 col-form-label" %>
              <div class="col-md-8"><%= f.email_field :email, autofocus: true, autocomplete: "email", class:"form-control-plaintext" %>
              </div>
            </div>

            <div class="row form-group">
              <%= f.label :password, "パスワード", class:"col-md-2 col-form-label " %>
              <div class="col-md-8"><%= f.password_field :password, autocomplete: "current-password", class:"form-control-plaintext" %>
              </div>
            </div>
            <p class="text-right"><%= link_to "パスワードを忘れた方はこちら", new_customer_password_path %></p>
            <div class="row form-group">
              <div class="col-md-2 md-offset-2 ">
                <%= f.submit "ログイン", class:"btn btn-primary btn-md px-5" %>
              </div>
            </div>
          <% end %>
        <div class="">
          <h3><span class="bg-light">登録がお済みでない方</span></h3>
          <p><%= link_to(new_customers_registration_path) do %>こちら<% end %> から新規登録を行ってください。</p>
        </div>
    </div>
  </div>
</div>