<div class="container">

	<div class="row">
		<div class="col mt-3">



<h2>注文履歴詳細</h2>
	<table class="table">
		<tbody>
			<tr>
				<th>購入者</th>
				<th><%= link_to admins_customer_path(@order.customer.id) do %>
					<%= @order.customer.family_name %>
					<%= @order.customer.first_name %>
					<% end %>
				</th>
			</tr>
			<tr>
				<th>配送先</th>
				<th><%= @order.shipping_address %></th>
			</tr>
			<tr>
				<th>支払方法</th>
				<th><%= @order.payment_method %></th>
			</tr>
			<tr>
				<th>注文ステータス</th>
				<td>
					<%= form_for @order, url:admins_order_status_path(@order.id), data: {"turbolinks" => false} do |f| %>
					<%= f.select :order_status, Order.order_statuses.keys.to_a %>
                	<%= f.submit '更新' %>
                	<% end %>
            	</td>
			</tr>
		</tbody>
	</table>

	<table class="table table-striped">
		<thead>
			<tr>
				<th>商品名</th>
				<th>単価（税込）</th>
				<th>数量</th>
				<th>小計</th>
				<th>製作ステータス</th>
			</tr>
		</thead>
		<tbody>
			<% sum_all = 0 %>
			<% @order.order_items.each do |order_item| %>
			<tr>
				<td><%= order_item.item.name %></td>
				<td><%= order_item.order_price %></td>
				<td><%= order_item.quantity %></td>
				<td><%= sub_total = (order_item.order_price).to_i * order_item.quantity %>円
					<% sum_all += sub_total %></td>
				<td>
					<%= form_for order_item, url:admins_product_status_path(order_item.id) do |f| %>
					<%= f.select :product_status, OrderItem.product_statuses.keys.to_a %>
                	<%= f.submit '更新' %>
                	<% end %>
            	</td>
            </tr>
			<% end %>
		</tbody>
	</table>

	<table class="table">
		<tbody>
			<tr>
				<th>商品合計</th>
				<th><%= sum_all %>円</th>
			</tr>
			<tr>
				<th>送料</th>
				<th><%= @order.shipping_cost %>円</th>
			</tr>
			<tr>
				<th>請求金額合計</th>
				<th><%= sum_all + @order.shipping_cost.to_i %>円</th>
			</tr>
		</tbody>
	</table>


</div>
</div>
</div>